@use "../../variables.scss" as variables;

.row1 {
    height: 3rem;
    z-index: 1000;
}

.locPosition {
    position: relative;
    top: 10px;
    margin-left: 8rem;
}

.numPosition {
    position: relative;
    top: 10px;
    margin-left: 4rem;
}

.socialPosition {
    position: relative;
    top: 10px;
    z-index: 2;
}

.locImage {
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 6px;
}

.dotImage {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 10px;
    float: left;
}

.teleImage {
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 12px;
}

.envelopeImage {
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 12px;
}

.fbImage {
    height: 22px;
    width: 22px;
    float: left;
    margin-right: 2rem;
    margin-left: 2rem;
}

.instaImage {
    height: 22px;
    width: 22px;
    float: left;
    margin-right: 2rem;
}

.linkedImage {
    height: 22px;
    width: 22px;
    margin-right: 2rem;
}
.locationText1 {
    color: variables.$header-text;
    float: left;
}

.locationText2 {
    color: variables.$header-text;
}

.locationCol {
    background-color: variables.$header-background;
}

.numCol {
    background-color: variables.$header-background;
}

.numText {
    color: variables.$header-text;
    float: left;
    margin-right: 5rem;
}

.mailText {
    color: variables.$header-text;
}

.socialCol {
    background-color: variables.$header-icon;
    position: relative;
}

.socialCol:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: variables.$header-icon;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(44deg, 0deg);
    z-index: 1;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .locPosition {
        margin-left: 5rem;
    }

    .numPosition {
        margin-left: 0rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .locPosition {
        margin-left: 4rem;
    }

    .numPosition {
        margin-left: -4rem;
    }
    .fbImage {
        margin: 0;
        margin-right: 10px;
    }

    .instaImage {
        margin: 0;
        margin-right: 10px;
    }

    .linkedImage {
        margin: 0;
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .locPosition {
        margin-left: 0rem;
    }
    .numPosition {
        margin-left: 1rem;
    }

    .socialPosition {
        position: relative;
        top: 0px;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    
}
